<main>
  <div class="modal fade" id="sendPM" tabindex="-1" role="dialog" aria-labelledby="sendPMLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="sendPMLabel">Send Private Message</h4>
        </div>
        <div class="modal-body">
          <h5 id="sendPMFormHeading"><strong>Send Private Message.</strong></h5>
          <%= form_for(@chat_pm) do |message|%>
            <%= render 'shared/error_messages', object: message.object %>
            <%= message.text_area(:message, {
              class: 'form-control', placeholder: 'Compose a new message...', maxlength: 150, required: true, rows: 5, wrap: 'hard', autofocus: true}) %>
            <%= message.hidden_field(:receiver) %>
            <%= message.submit "Submit", class: 'btn btn-info', id: 'PMSubmit'%>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="navbar-brand"><%= current_user.name %></ul>
    </div>
\    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Profile", edit_user_path(current_user)%></li>
        <li><%= link_to "Private Messages", user_path(current_user)%></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% if current_user.admin? %>
          <li><%= link_to "All Users",users_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
  <h1 class="text-center">Welcome to Rails Chat!</h1>
  <p class="lead text-center">Enjoy your stay and make some friends.</p>
  <div class="row">
    <div class="list-group col-md-2 col-sm" id="user-list">
        <% @chatUsers.each do |users| %>
        <button class="list-group-item"> <%= link_to users.name %> </button>
        <% end %>
    </div>
  </div>
  <div class="container-fluid col-lg-offset-2">
    <div class="well well-lg" id="chat"><ul> <%= render @messages %> </ul></div>
  </div>
  <div class="container-fluid col-md-offset-2">
    <div class="col-md-10">
      <%= form_for(Chat.new, remote: true) do |message|%>
        <%= message.text_area(:message, {
          class: 'form-control', placeholder: 'Say Hello...', maxlength: 150, required: true, rows: 5, wrap: 'hard', autofocus: true}) %>
        <%= message.submit "Submit", class: 'btn btn-info', id: 'messageSubmit'%>
      <% end %>
    </div>
  </div>
</main>
