<div class="modal fade" id="sendPM" tabindex="-1" role="dialog" aria-labelledby="sendPMLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sendPMLabel">Send Private Message</h4>
      </div>
      <div class="modal-body">
        <h5 id="sendPMFormHeading"><strong>Send Private Message.</strong></h5>
        <%= form_for(@chat_pm) do |message|%>
          <%= render 'shared/error_messages', object: message.object %>
          <%= message.text_area(:message, {
            class: 'form-control', placeholder: 'Compose a new message...', maxlength: 150, required: true, rows: 5, wrap: 'hard', autofocus: true}) %>
          <%= message.hidden_field(:receiver, {value: chat_pm.user.name} ) %>
          <%= message.submit "Submit", class: 'btn btn-info', id: 'PMSubmit'%>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="list-group" id="chat_pm-<%= chat_pm.id %>">
  <span class="user"><%= link_to chat_pm.user.name, chat_pm.user %></span>
  <span class="content"><%= chat_pm.message %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(chat_pm.created_at) %> ago.
  </span>
  <%= link_to "Delete Message", chat_pm, method: :delete, data: { confirm: "Delete?" }, class: 'btn btn-danger', id: 'DeleteMessage'%>
  <button class="btn btn-info">Reply</button>
</div>
