<main>
    <%= form_for(:session, url: login_path) do |u| %>
    <h2 class="text-center" id="top">Sign In and join the conversation.</h2>
      <div class="col-md-offset-5">
        <%= u.label :Username %>
        <%= u.text_field :name, class: "form-control"  %>
      </div>
      <div class="col-md-offset-5">
        <%= u.label :password %>
        <%= u.password_field :password, class: "form-control" %>
     </div>
      <%= u.submit "Log In", class: "btn btn-primary col-md-offset-5" %>
    <% end %>
  <section id="about" class="text-center">
    <p class="lead">This chat application creates a chat session between you and other users to share ideas and stories.</p>
    <p>Don't have an account with us? No worries Signing up is <strong>FREE</strong> and easy to do click this button begin.</p>
  </section>
</div>
  <button id="newUser" type="button" class="btn btn-success col-md-offset-5" data-toggle="modal" data-target="#createUser">New User!</button>
  </div>
  <footer class="center-block">
      <p class= "col-md-offset-5"> Brian Battell  <%= image_tag("copyrighted.svg", size: "12x12")%> <%= link_to image_tag("linkedin1.svg", size:"24x24", alt: "My linkedin profile."), "https://www.linkedin.com/pub/brian-battell/62/983/815"%> <%= link_to image_tag("socialnetwork180.svg", size: "24x24", alt: "My Github profile."), "https://github.com/BrianB86" %> </p>
      <p class="col-md-offset-3">Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
  </footer>
  <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="createUserLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createUserLabel">Welcome to RailsChat!</h4>
        </div>
        <div class="modal-body">
          <h5 id="createUserFormHeading"><strong>Account Setup:</strong></h5>
            <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
              <div>
                <%= f.label :Username %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div>
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
              <div>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create my account", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
